@model List<Product>
<div class="card shadow border-0 my-4">

	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 test-center">
				<h2 class="text-white py-2"> Product List </h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class=" row pb-3">
			<div class="col-6 ">
			</div>
			<div class="col-6 text-end">
				<a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
					<i class="bi bi-plus-circle"></i> Create New Product
				</a>

			</div>
		</div>
		@* <div class="row pb-3">
			<div class="col-3">
				<label for="pageIndex">Page Index:</label>
				<input type="number" class="form-control" id="pageIndex" placeholder="Enter page index">
			</div>
			<div class="col-3">
				<label for="pageSize">Page Size:</label>
				<input type="number" class="form-control" id="pageSize" placeholder="Enter page size">
			</div>
			<div class="col-6 text-end">
				<button class="btn btn-primary" asp-controller="Product" asp-action="Index" >
					<i class="bi bi-arrow-right-circle"></i> Apply Pagination
				</button>
			</div>
		</div> *@


		<table id="tblData" class="table table-bordered table-striped" style="width:100%">
			<thead>

				<tr>
					<th>Title</th>
					<th>ISBN</th>
					<th>Author</th>
					<th>Price</th>
					<th>Category</th>
					<th></th>
				</tr>
			</thead>

		</table>
	</div>
</div>

@section Scripts{

	<script src="~/js/product.js"></script>
}